<template name="layout">
    <div class="container-fluid">
        {{> sAlert}}
        <div class="row">
            <br>
            <div class="main-wrap">
                <div class="mobile-header {{visible}}">
                    <div class="mobile-header">{{> mobileHeader}}</div>
                </div>
                <div class="col-md-4 col-xs-4 mast-head {{hidden}}">
                    <div class="header-wrap">{{> header}}</div>
                </div>
                <div id="content">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        {{> yield}}
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</template>
