/* override and add styles */

body {
    counter-reset: section;
}
.fixed {
    position: fixed;
}
.header {
    background-color: rgb(54, 54, 54);
    padding: 130px;
    padding-bottom: 100%;
    margin-left: -40px;
    margin-top: -142px;
    width: 38.5%;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.12), 0 6px 6px 0 rgba(0, 0, 0, 0.12);
}
.col-md-8 {
    padding-right: 20px;
    padding-left: 50px;
}
a, a:hover, a:focus {
    /* color: #010; */
}
.badge {
    display: inline-block;
    min-width: 40px;
    padding: 3px 7px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
    margin-top: 8px;
}
h4.counted::before {
    counter-increment: section;
    content: counter(section)" ";
}
h4 {
    font-weight: bold;
}
.push-bottom {
    margin-bottom: 5px;
}
.btn.btn-fab {
    margin: 0;
    padding: 15px;
    font-size: 26px;
    width: 150px;
    height: 150px;
}
.mdi-content-add:before {
    font-size: 118px;
}
.modal-content {
    font-size: 2em !important;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 100px auto;
    }
}
fieldset[disabled] .form-control:not(textarea),
.form-control-wrapper .form-control:not(textarea),
.form-control:not(textarea),
fieldset[disabled] .form-control:focus:not(textarea),
.form-control-wrapper .form-control:focus:not(textarea),
.form-control:focus:not(textarea),
fieldset[disabled] .form-control.focus:not(textarea),
.form-control-wrapper .form-control.focus:not(textarea),
.form-control.focus:not(textarea) {
    height: 45px;
}
.s-alert-box {
    z-index: 1100;
}
.nav {
    margin-top: 300px;
    margin-left: 20px;
}
.attention {
    color: red;
}
.at-title h3 {
    margin:  40px 0;
}
.at-btn {
    font-size: 16px;
    padding: 10px 12px;
    margin-top: 30px;
}
.title-text {
    margin-bottom: 20px;
    /* padding-left: 16px; */
}
.add-btn {
    margin-top: 115px !important;
}
.panel {
    box-shadow: none;
}
.btn.btn-sm {
    padding: 0px 17px;
    margin: 0 15px 7px;
}
.btn {
    margin: 0;
}
.big-wrap {
    padding: 0 10px;
}
