<template name="queueItem">
    <div  class="queue-panel panel panel-default">
        <div id="{{_id}}" class="panel-body {{selectedPanel}}">
            <span class="name-text"><b><h4 class="counted pull-left">{{name}}</h4></b></span> 
            <span class="{{#if admin}} {{noNumberGlyph}} {{/if}}"></span>
            <div class="pull-right">
                {{#if currentUser}}
                    {{#if admin}}
                        <div class="button-wrap {{selected}}">
                            <a class="delete-btn btn btn-danger btn-sm">DELETE</a>
                            <a href="{{pathFor 'queueEdit'}}" class="edit-btn btn btn-warning btn-sm">EDIT</a>
                            {{#if phoneNumberExists}}
                                <a class="text-btn btn btn-info btn-sm">TEXT</a>
                            {{/if}}
                            <a class="seat-btn btn btn-success btn-sm">SEAT</a>
                        </div>
                    {{/if}}
                {{/if}}
                <span class="badge">{{partySize}}</span> 
            </div>
        </div>
    </div>
</template>
