<template name="header">
    <div class="text-center header fixed">
        <!--<h1 class="title-text"><b><a href="{{pathFor 'queueList'}}">Queue</a></b></h1>-->
        <img class="logo" src="blackdog-logo-blue.png" alt="">
        <br>
        <div class="controls">
            {{#if currentUser}}
                <a class="add-btn btn btn-fab mdi-content-add btn-primary" href="{{pathFor 'queueSubmit'}}"></a>
                <br>
                <br>
                {{#if admin}}
                    <a class="newboard-btn btn btn-danger">Clear All</a>
                {{/if}}
                <br>
                <!-- Average wait time template goes here.
                <div class="wait-time">
                    <h4>Avg. Wait Time:</h4>
                    <h2>{{avgWaitTime}} Min.</h2>
                </div>-->
            {{/if}}
        </div>
        <div class="nav">
            {{#if currentUser}}
                {{#if admin}}
                    <a class="log-out">Log Out</a>
                {{/if}}
                {{#unless admin}}
                    <a class="admin-login">Admin</a>
                {{/unless}}
                {{#if admin}} 
                    <a class="admin-logout"><i>Admin</i></a>
                {{/if}} 
            {{else}}
                <a class="sign-in" href="{{pathFor 'signIn'}}">Sign In</a>
            {{/if}}
        </div>
    </div>
</template>
